<div class="row">
    <div class="col inputs">
        <img class="logo" src="/assets/LOGO.svg" />
        <p class="logo-phrase">Mantenha-se longe do perigo</p>
        <h3>Fique ligado em queimadas próximas a sua região.</h3>
        <div class="row" style="margin: 8% 0%">
            <div class="phone_area">
                <label>ddd</label>
                <input type="text" class="form-control" [(ngModel)]="phone_area"/>
            </div>
            <div class="phone">
                <label>telefone</label>
                <input type="text" class="form-control" [(ngModel)]="phone"/>
            </div>
        </div>
        <button class="btn btn-primary btn-info-primary" (click)="add()">Receber Avisos</button>
        <p class="delete-p">Você já está cadastro, caso queira, pode excluir seu telefone de nossa plataforma.</p>
        <button class="btn btn-primary btn-info-primary-outlined" (click)="add()">Remover Número</button>
    </div>
    <div class="col cards">
        <p class="note-p">Focos detectados em tempo real:</p>
        <div class="col notifications">
            <div *ngFor="let notification of notifications; index as i;">
                <div class="alert alert-warning d-flex align-items-center" role="alert">
                    <div class="arrow"></div>
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    <div>
                        {{notification}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>