<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLinkActive="active"  class="nav-link" routerLink="infochamas">
      <img style="margin-left: 8%" src="/assets/LOGO.svg" width="130" height="40" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a routerLinkActive="active" class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link" routerLink="contato">Contato</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active"  class="nav-link" routerLink="lista">Lista</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active"  class="nav-link" routerLink="infochamas">InfoChamas</a>
        </li>
      </ul>
    </div>
</nav>