<div class="container">
    <div class="card teste" style="margin-top: 2rem; border-radius: 2rem;">
        <div class="row profile2">
            <img class="" style="margin-top: 2rem; display: block; margin-left: auto; margin-right: auto; width: 50%; border-radius: 100%; width: 20%" src="/assets/eu.png" alt="..." class="img-thumbnail">
            <p style="margin-top: 3rem;">William Pires de Castro</p>
            <p>24 anos</p>
            <p>Contato: wpdcastro@gmail.com</p>
            <div class="row" style="margin-bottom: 2rem; display: block;">
                <a style="width: 140px" target="_blank" href="https://github.com/wpdcastro">
                    <i style="color: black" class='fab fa-github fa-3x'></i>
                </a>
                <a style="width: 140px" target="_blank" href="https://www.linkedin.com/in/william-pires-b7b98a13b/">
                    <i style="color: black" class='fab fa-linkedin fa-3x'></i>
                </a>
            </div>
        </div>
    </div>
</div>